# Build outputs
**/build/
**/x64/
**/*.obj
**/*.lib
**/*.pdb
**/*.exe
**/*.sys
**/*.dll
**/*.cat
**/*.cer
**/*.res
**/*.log
**/*.tlog/
**/*.recipe
**/Debug/
**/Release/
**/*.old*

# System files
*.suo
*.user
*.ncb
*.sdf
*.opensdf
.vs/
